body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
